/*------------------------------ RESET CSS ------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*------------------------------ CUSTOM ------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Righteous');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
		background: url("https://images3.alphacoders.com/210/210467.jpg") center center no-repeat;
		background-size: cover;


}

h2 {
  font-size: 20px;
  font-weight: 500;
}

.main-title-container {
	max-width: 900px;
}

.main-title {
	font-size: 70px;
	color: white;
	text-align: center;
}
a {
	text-decoration: none;
}

/*------------------------------ Planet-all ------------------------------*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 0;
  padding-bottom: 80px;
}

.planet-all {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -10px 0 0 10px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
	margin-top: 28px;
}

.planet {
      height: 200px;
      width: 200px;
      display: inline-block;
      margin: 20px;
      /*padding: 20px;*/
      box-sizing: border-box;
      transition: 0.2s ease-in-out;
    }






/*------------------------------ Nav ------------------------------*/
.navigation {
  list-style: none;
  background: transparent;
  border-bottom: 1px solid grey;

/*change list direction from block to inline*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /*define the flex container's main and cross axes*/
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /*Push all the list on the right*/
  justify-content: flex-start;
  background-attachment: fixed;
  overflow: hidden;

}

li.left {
  margin-right: auto;
	font-family: 'Righteous', cursive;


}



.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  /*height: 80px;*/
  cursor: pointer;


}

.navigation .right:hover {
  background: #2e3a4d;
  cursor: pointer;

}

/*------------------------------ Form ------------------------------*/

.cover {
	height: 120vh;
  width: 100%;
  padding: 20px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

}

/*.form-box {
	height: 100px;
	width: 500px;
	background-color: rgba(255, 255, 255, .1);
	margin: auto;
	border-radius: 2em;
	padding-top: 20px;
}*/

.flex-form input[type="submit"] {
  background: #35a1e0;
  border: 1px solid #35a1e0;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #082756;
  border: 1px solid #082756;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

/*------------------------------ Popup ------------------------------*/

.popup .popup-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0.97;
	/*margin-left: 0!important;*/
	/*z-index: 1;*/
}

.popup .popup-wrap img {
	position: fixed;
	top: 40px;
	left: 40px;
	cursor: pointer;
}

.popup .popup-content {
	position: fixed;
	text-align: center;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/*------------------------------ Popup form ------------------------------*/

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #35a1e0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    /*width: auto;*/
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
		padding-bottom: 40px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

.signin-title {
	margin-top: 20px;
}

.permission-title {
	margin-bottom: 20px;
	color: lightgrey;
}



/*------------------------------ @media query ------------------------------*/

@media all and (max-width: 800px) {
  .navigation {
    /*when the screen is less than 800px justify list item center and have more space around*/
    justify-content: space-around;
  }
}

@media all and (max-width: 650px) {
  .navigation {

    /*wrap the list item block*/
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    text-align: center;
  }
  /*nav have border bottom when width get less than 600px*/
  .navigation a {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  li.left {
    margin-right: inherit;

  }

	.flex-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  .flex-form > * {
    font-size: 0.9rem;
  }

	.main-title {
		font-size: 40px;
		color: white;
		text-align: center;
	}
	.cover {
		height: 90vh;
	}
	.popup .popup-wrap img {

		top: 10px;
		left: 10px;

	}


}

@media all and (max-width: 360px) {


.flex-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  label {
    display: none;
  }

	span.psw {
			display: block;
			float: none;
	}
	.cancelbtn {
			width: 100%;
	}

}
